.khan__buy-link {
    margin: 0 auto 0 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #2f80ed;
    opacity: 1;
    transition: opacity 0.5s ease-in 0s;
}

.khan__buy-link:hover {
opacity: 0.6;
}